*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
}
.container{
    width: 440px;
    height: 630px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.container .pic{
    width: 400px;
    margin: 20px;
    border-radius: 17px;
}
.container .next h1{
    text-align: center;
    font-family: "Outfit",sans-serif;
}
.container .next p{
    text-align: center;
    font-family: "Outfit",sans-serif;
    color: hsl(220, 15%, 55%);
    margin: 20px;
}
@media(max-width: 767px){
    .container{
        width: 360px;
    }
    .container .pic{
        width: 320px;
    }
}